<h1>Welcome to The Practical Doula!</h1>
<br>

<span class= "client">
<ol>
<% @clients.each do |client| %>
<li>
<%= link_to client.name, client_path(client) %>
</li>

<% end %>
</ol>
</span>

<br>

<br>
<%= link_to 'Create a New Client', new_client_path %>
